@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-text-color: #5f646a;
  --font-headers: "Montserrat", sans-serif;
  --font-buttons: "Montserrat", sans-serif;
  --font-nav: "Montserrat", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --font-text-light: "Montserrat", sans-serif;
  --font-text-thin: "Montserrat", sans-serif;
  --font-text-medium: "Montserrat", sans-serif;
  --color0: #000000;
  --color1: #da1c5c;
  --color2: #36b5ff;
  --color3: #6c73ff;
  --color4: #a2a2a2;
  --color5: #b8b8b8;
  --color6: #c2c2c2;
  --color7: #d4d4d4;
  --color8: #ffffff;
  --colorLight: #ffffff;
  --max-width: 1400px;
}
//helpers

@import url("./helpers.less");

body {
  font-family: var(--font-text);
  color: var(--color0);
  background: #f1f1f1 !important;

  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--color2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
}

p,
a {
}

.max-width {
  max-width: var(--max-width);
}

.main-fluid {
  max-width: var(--max-width);
  margin: auto;
  display: block;
  background: #fff;
}

.vector-1 {
  width: 80px;
  float: right;
  margin-right: 5%;

  position: relative;
  z-index: 1000;

  bottom: 240px;
  img {
    width: 100%;
    height: auto;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.cardmh375 {
  min-height: 375px;
}

.ficons {
  max-width: 35px;
  margin: 0 0.25rem;
}

@import url("./ui.less");
@import url("./ux.less");
@import url("./components.less");
@import url("./blocks.less");
@import url("./views.less");
@import url("./straps.less");
@import url("./sliders.less");
@import url("./pages.less");
@import url("./header.less");
@import url("./sidebar.less");
@import url("./footer.less");
